$PrimaryColor: #f7e494;
$SecondaryColor: #e2bf2b;
$TertiaryColor: #fff9de;
$FontColor: #4c4625; 

$defaultFont: 'Josefin Sans', serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;


